/* FONTS */
@font-face {
  font-family: "Acama";
  src: url("PP Acma - Free for Personal Use v1.1/otf/PPAcma-Semibold.otf") format("opentype");
 }

/* BACKGROUND */
body {
  background-color:whitesmoke;
  margin: 0;
}

/* FULL-PAGE BLOCK FORMATTING
3-col grid layout with left/right padding. */
@media screen and (min-width: 769px) {
  .main__container{
    display: grid;
    grid-template-columns: 1fr min(65rem, 95%) 1fr;
    height: 100%;
  }
  /* All content in middle column. */
  .main__container > * {
    grid-column: 2;
  }
  .main__container div {
    margin-bottom: 5rem; 
  }
  /* Class for full-width elements. */
  .main_container--fullbleed {
    width: 100%;
    grid-column: 1 / -1;
  }
  
  /* MAIN CONTENT SECTIONS
  2-col grid layout for About, Experience, Projects. */
  .main__content{
    display: grid;
    grid-template-columns: auto auto;
    font-family: Tahoma, sans-serif;
    color:navy;
    text-align: left;
    align-items: center;
  }
  /* Default formatting for main sections. */
  .main__content div {
    margin: 1rem 0rem 0rem 0rem; 
    /* border: 1px solid black; */
  }
  .main__content h1 {
    font-size: 26px;
  }
  .main__content h2 {
    font-size: 18px;
  }
  .main__content p {
    font-size: 18px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* Styling for navbar. */
  .navbar--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch; /* Makes box heights the same */
    height: 6rem;
    width: 100%;
    grid-column: 1 / -1;
    position: sticky;
    /* top: 0; */
  }
  /* Formatting for each navbar box */
  .navbar--container > * {
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
  }
  /* Debugging boxes for navbar. */
  /* .navbar--container div {
    border: 1px solid black;
  } */
  /* FIX: Styling for blured navbar */
  /* .navbar--container div {
    backdrop-filter: blur(16px);
    mask-image: linear-gradient(
      to bottom,
      black 0% 50%,
      transparent 50% 100%
    );
  } */
  /* TBD: Styling for personal-icon container. */
  /* #navbar--logo--div {
    padding-left: 5rem;
  } */
   /* Styling for personal icon "LU.SH" */
  .my-icon a {
    font-family: Tahoma, sans-serif;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color:navy;
  }
  .my-icon a:hover {
    font-size: 28px; 
    color: darkgoldenrod;
  }
  /* Unused for now. For future img-format logo. */
  .my-icon img {
    width: 3.5rem;
    height: auto;
  }
  /* Styling for navbar menu. */
  #navbar--menu--div {
    text-align: center;
  }
  .nav-menu a {
    text-align: center;
    padding: 0.5rem 1rem;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color:navy;
  }
  .nav-menu a:hover {
    font-family: "Acama", Tahoma;
    font-size: 20px; 
    color: darkgoldenrod;
  }
  .hide{
    display: none;
  }
  /* G4G FOR DESKTOP CODE */
  /* .navbar{
    justify-content: space-around;
  }
  .nav-menu{
    display: block;
    position: fixed;
    width: 95%;
    top: 6rem;
    left: 18px;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    justify-content: center;
  }
  .nav-menu a{
    display: inline-block;
    padding: 15px 20px;
  }
  .nav-menu a:hover{
    border-radius: 5px;
  }
  .hamburger-menu{
    display: none;
  } */

  /* Formatting for about-section images */
  .main__img--container {
    justify-content: center;
    align-items: center;
  }
  .main__img--container img {
    width: 21.5rem;
    height: auto;
    border-radius: 10px;
    margin-right: 2rem;
  }

  /* Flexbox for about-section links */
  .about__links--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  /* Margins for link icons */
  .about__links--container div {
    margin-top: 0.25rem;
    margin-right: 0.75rem;
  }
  /* Styling for link icons */
  .about__links--container svg:hover {
    fill: darkgoldenrod;
  }

  /* Positioning for company logos */
  .experience__img--container {
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  /* Styling for company logos */
  .experience__img--container img {
    max-width: 6.5rem;
    height: auto;
    border-radius: 10px;
  }
  .experience__img--container img:hover {
    opacity: 0.65;
  }

  /* Formatting for skills section  */
  .skill-elements {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    /* Offsets child right-end margin */
    padding-left: 1.5rem; 
    justify-content: center;
  }
  /* Formatting for individual skills */
  .skill-elements div {
    min-width: 6rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
    font-size: 18px;
  }
  /* .skill-elements div:last-child {
    margin-right: 0;
  } */

  /* Formatting for buttons */
  .main__btn{
    padding: 10px 10px;
    margin: 0 0;
  } 
}

/* Container Style for Tablet*/
@media screen and (max-width: 768px) {
  .main__container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
  }
  
  .main__content{
    text-align: center;
    margin-bottom: 2rem;
  }
  .main__content h1{
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .main__content h2 {
    font-size: 3rem;
  }
  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
} 

/* Content Style for Mobile */
@media screen and (max-width: 480px) {
  .main__content h1{
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }
  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  
  .main__btn{
    padding: 12px 12px;
    margin: 2.5rem 0;
  }
}