/* Background */
body {
  background-color:whitesmoke;
  margin: 0;
}

/* General Container Style */
@media screen and (min-width: 769px) {
  .main__container{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width:fit-content;
    z-index:1;
  }
  
  .main__content{
    display: grid;
    grid-template-columns: auto auto;
    color:navy;
    font-family: Tahoma, sans-serif;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: left;
    align-items: center;
  }
  .main__content div {
    /* border: 1px solid black; */
    margin-top: 1rem;
    margin-right: 2rem;
  }
  .main__content h1 {
    font-size: 26px;
  }
  .main__content h2 {
    font-size: 18px;
  }
  .main__content p {
    font-size: 18px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .main__img--container img {
    max-width: 21.5rem;
    height: auto;
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
  }
  .experience__img--container img {
    max-width: 6.5rem;
    height: auto;
    border-radius: 10px;
  }

  .skill-elements {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0rem;
    margin-bottom: 3rem;
    justify-content: center;
  }

  .skill-elements div {
    min-width: 5.5rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
    font-size: 18px;
  }

  .main__btn{
    padding: 10px 10px;
    margin: 1em 0;
  } 
}

/* Container Style for Tablet*/
@media screen and (max-width: 768px) {
  .main__container{
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 100vh;
  }
  
  .main__content{
      text-align: center;
      margin-bottom: 2rem;
  }
  .main__content h1{
      font-size: 2.5rem;
      margin-top: 2rem;
  }
  .main__content h2 {
      font-size: 3rem;
  }
  .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
  }
} 

/* Content Style for Mobile */
@media screen and (max-width: 480px) {
  .main__content h1{
      font-size: 2rem;
      margin-top: 3rem;
  }
  .main__content h2 {
      font-size: 2rem;
  }
  .main__content p {
      margin-top: 2rem;
      font-size: 1.5rem;
  }
  
  .main__btn{
      padding: 12px 12px;
      margin: 2.5rem 0;
  }
}